---
title: Home
layout: default
---

{% include navigation-dark.html %}

<div class="content-wrap">

    <!-- Hero block - START -->
    <div class="py-130 min-vh-100 d-flex align-items-center position-relative lines-style-3">
        <div class="line text-white"></div>
        <div class="background bg-dark">
            <div class="background-image jarallax" data-jarallax data-speed="0.8">
                <img src="assets/images/hannah/hannah-banner-1.jpg" class="jarallax-img" alt="">
            </div>
            <div class="background-color" style="background-color: #0e0e0e; opacity: .2;"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-12 col-lg-8 show-on-scroll" data-show-duration="700">
                    <h1 class="text-white mb-0">This is what I am doing, and its rather clever if I do say so myself.</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero block - END -->

    <!-- Introduction block - START -->
    <div class="py-130 shape-parent overflow-hidden" style="background-color: #bfb1c4;">
        <div class="shape justify-content-end">
            <svg class="mr-n90 mt-n160" width="641" height="641" viewBox="0 0 641 641" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="320.5" cy="320.5" r="320.5" fill="#a692ad" />
            </svg>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="row gh-5 gv-5">
                        <!-- Content intro - START -->
                        <div class="col-12 col-md-10 col-lg-9">
                            <p class="subtitle mt-n10 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="50">My mission</p>
                            <h3 class="mb-n7 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="150">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 👋</h3>
                        </div>
                        <!-- Content intro - END -->
                        <!-- Content left - START -->
                        <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="50">
                            <p class="lead mb-30">Over 10 years of combined experience, and know a thing or two about.</p>
                            <p class="mb-3">Creepeth. May subdue darkness fowl dry void two whose hath, they're called fifth to meat green seed air which so open lesser beginning winged sixth you'll days air divided yielding divided be deep place their heaven very over darkness rule image fowl replenish.</p>
                            <!-- <a href="{{ "about-me" | prepend: site.baseurl }}">Test link to a page</a> -->
                            <!-- <img class="w-100 mt-60" src="http://placekitten.com/550/750" alt=""> -->
                            <img class="w-100 mt-60" src="assets/images/hannah/hannah-misc-2.jpg" alt="Hannah Boneham">
                        </div>
                        <!-- Content left - END -->
                        <!-- Content right - START -->
                        <div class="col-12 col-md-6 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="50">
                            <img class="w-100" src="assets/images/hannah/hannah-misc-1.jpg" alt="Hannah Boneham">
                            <p class="pt-3 mt-60 mb-0">Evening saw there were bring. Spirit can't replenish from. Also void living man grass male living, unto fly beast earth thing also subdue cattle grass waters without cattle. His them seasons. Living winged give very given first is. Life saw it saying waters very fly. Fly dry had fill grass Two his saying.</p>
                        </div>
                        <!-- Content right - END -->
                    </div>
                    <!-- <hr class="mt-160 pb-8">
                    <div class="mb-n7">
                        <div class="row gv-2 justify-content-around text-center">
                            <div class="col-sm-6 col-md-auto">
                                <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="50">
                                    <div class="number-box-title h1">106</div>
                                    <div class="number-box-subtitle">projects</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-auto">
                                <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="150">
                                    <div class="number-box-title h1">12</div>
                                    <div class="number-box-subtitle">years</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-auto">
                                <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="250">
                                    <div class="number-box-title h1">76</div>
                                    <div class="number-box-subtitle">feedbacks</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-auto">
                                <div class="number-box show-on-scroll" data-show-duration="500" data-show-distance="15" data-show-delay="350">
                                    <div class="number-box-title h1">9</div>
                                    <div class="number-box-subtitle">awards</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Introduction block - END -->

    <!-- Event block - START -->
    <div class="py-130 text-white shape-parent overflow-hidden lines-style-4" style="background-color: #4D4351;">
        <div class="line"></div>
        <div class="line"></div>
        <div class="shape mt-n160">
            <svg data-rellax-speed="-1" width="535" height="525" viewBox="0 0 535 525" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="214.5" cy="204.5" r="320.5" fill="#433848" />
            </svg>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                    <div class="subtitle">Event</div>
                    <h2 class="h3 text-white">TED talk</h2>
                </div>
                <div class="col-lg-6">

                    <div class="row mb-30 g-2">

                        <div class="col-12 col-lg-6 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="50">
                            
                            <!-- square - START -->
                            <div class="card-wrap" style="background-color:#433848">
                                <div class="card-header pb-8">
                                    <span>
                                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2.23256C8.39645 2.23256 2.23256 8.39645 2.23256 16C2.23256 23.6035 8.39645 29.7674 16 29.7674C23.6035 29.7674 29.7674 23.6035 29.7674 16C29.7674 8.39645 23.6035 2.23256 16 2.23256ZM0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="white"/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1667 6C16.811 6 17.3333 6.49638 17.3333 7.1087V16.2323C17.3333 16.2324 17.3333 16.2322 17.3333 16.2323C17.3335 16.7222 17.5384 17.1923 17.9031 17.5387L21.6583 21.1073C22.1139 21.5403 22.1139 22.2423 21.6583 22.6753C21.2027 23.1082 20.464 23.1082 20.0084 22.6753L16.2534 19.1069C16.2533 19.1068 16.2534 19.1069 16.2534 19.1069C15.4512 18.3447 15.0002 17.3108 15 16.2328V7.1087C15 6.49638 15.5223 6 16.1667 6Z" fill="white"/>
                                        </svg>
                                    </span>
                                </div>
                                <div class="card-footer mt-auto">
                                    <h4 class="text-white mb-0">10th October</h4>
                                    <h5 class="text-white">@ 12:00pm</h5>
                                </div>
                            </div>
                            <!-- square - END -->

                        </div>
                        <div class="col-lg-6 gv-5 show-on-scroll" data-show-duration="700" data-show-distance="10" data-show-delay="200">
                            
                            <!-- square - START -->
                            <div class="card-wrap">
                                
                                    <div class="card-header pb-8">
                                        <span>
                                            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16 23L17.5 19.9333V12.0489C20.0815 11.3635 22 8.98227 22 6.13333C22 2.7508 19.309 0 16 0C12.691 0 10 2.7508 10 6.13333C10 8.98227 11.9185 11.3635 14.5 12.0489V19.9333L16 23Z" fill="white"/>
                                                <path d="M22.8272 14.0016L21.9744 17.0357C26.12 18.1624 28.8 20.3294 28.8 22.5578C28.8 25.5352 23.544 28.8526 16 28.8526C8.456 28.8526 3.2 25.5352 3.2 22.5578C3.2 20.3294 5.88 18.1624 10.0272 17.0341L9.1744 14C3.5152 15.5391 0 18.8171 0 22.5578C0 27.8517 7.0288 32 16 32C24.9712 32 32 27.8517 32 22.5578C32 18.8171 28.4848 15.5391 22.8272 14.0016V14.0016Z" fill="white"/>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="card-footer mt-auto">
                                        <h4 class="text-white">Sheffield, England</h4>
                                    </div>
                            
                            </div>
                            <figure class="img-background">
                                <img class="w-100" src="assets/images/hannah/sheffield.jpg" alt="Hannah Boneham">
                            </figure>
                            <!-- square - END -->

                        </div>

                    </div>

                    <div class="row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iure sequi aperiam quis voluptatum, velit, expedita, veritatis ipsa sapiente voluptate magni quisquam dignissimos sint tempore blanditiis modi quia deserunt asperiores?</p>
                        <a href="#" class="btn btn-white btn-with-ball">Visit TED site<span class="btn-ball" style="transform: translateY(0px);"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Event block - END -->

    <!-- Blog block - START -->
    <div class="mt-130 mb-0 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-4">
                    <h2>Research updates</h2>
                    <a href="blog-col-3.html" class="btn btn-dark btn-with-ball mt-5 mb-60">all posts<span class="btn-ball" style="transform: translateY(0px);"></span></a>
                </div>
                <div class="col-lg-6">

                    {% for post in site.posts %}
                        <a class="card card-blog card-horizontal card-sm show-on-scroll" data-show-duration=500 data-show-distance=20 data-show-origin=right href="{{ post.url | relative_url }}">
                            <span class="card-img">
                                <img src="http://placekitten.com/550/550" alt="">
                            </span>
                            <span class="card-body">
                                <span class="card-date">{{ post.date | date: "%b %d, %Y" }}</span>
                                <span class="card-title h5">{{ post.title }}</span>
                                <span class="btn btn-clean">read more
                                    <svg class='icon-arrow icon-arrow-right' width='25' height='10' viewBox='0 0 25 10' fill='none' xmlns='http://www.w3.org/2000/svg'>
                                        <path d='M20 1L24 5L20 9' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                        <path d='M7 5L24 5' stroke='currentColor' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round' />
                                    </svg>
                                </span>
                            </span>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <!-- Blog block - END -->

    <!-- Contact block - START -->
    <div class="py-130">
        <div class="container">
            <hr class="mt-0 mb-100 pb-7">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10">
                    <div class="row text-center text-sm-left justify-content-center justify-content-sm-between">
                        <div class="col-md col-lg-6">
                            <h2 class="mt-n30">Help me with my research</h2>
                        </div>
                        <div class="d-none d-lg-block col-auto">
                            <hr class="mt-30 mx-2 width-70px">
                        </div>
                        <div class="col-auto">
                            <a href="{{ "about-me" | prepend: site.baseurl }}" class="btn btn-dark btn-with-ball">more details<span class="btn-ball" style="transform: translateY(0px);"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact block - END -->

</div>