<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="">
    <meta name="keywords" content="keyword, keyword">
    <meta name="author" content="">

    <!-- <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- START: Styles -->

    <!-- Swiper -->
    <!-- <link rel="stylesheet" href="assets/vendor/swiper/dist/css/swiper.min.css" /> -->
    <link rel="stylesheet" href="{{ "/assets/vendor/swiper/dist/css/swiper.min.css" | relative_url }}">

    <!-- Fancybox -->
    <!-- <link rel="stylesheet" href="assets/vendor/fancybox/dist/jquery.fancybox.min.css" /> -->
    <link rel="stylesheet" href="{{ "/assets/vendor/fancybox/dist/jquery.fancybox.min.css" | relative_url }}">

    <!-- Themebau -->
    <!-- <link rel="stylesheet" href="assets/css/themebau.min.css"> -->
    <link rel="stylesheet" href="{{ "/assets/css/themebau.min.css" | relative_url }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script type="javascript" href="{{ "/assets/vendor/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script> -->

</head>