<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script type="text/javascript" src="{{ "/assets/vendor/object-fit-images/dist/ofi.min.js" | prepend: site.baseurl }}"></script>

<!-- Popper -->
<script type="text/javascript" src="{{ "/assets/vendor/popper.js/dist/umd/popper.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{{ "/assets/vendor/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Validator -->
<script type="text/javascript" src="{{ "/assets/vendor/bootstrap-validator/dist/validator.min.js" | prepend: site.baseurl }}"></script>

<!-- ImagesLoaded -->
<script type="text/javascript" src="{{ "/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}"></script>

<!-- Swiper -->
<script type="text/javascript" src="{{ "/assets/vendor/swiper/dist/js/swiper.min.js" | prepend: site.baseurl }}"></script>

<!-- Animejs -->
<script type="text/javascript" src="{{ "/assets/vendor/animejs/lib/anime.min.js" | prepend: site.baseurl }}"></script>

<!-- Rellax -->
<script type="text/javascript" src="{{ "/assets/vendor/rellax/rellax.min.js" | prepend: site.baseurl }}"></script>

<!-- Countdown -->
<script type="text/javascript" src="{{ "/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js" | prepend: site.baseurl }}"></script>

<!-- Moment.js -->
<script type="text/javascript" src="{{ "/assets/vendor/moment/min/moment.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js" | prepend: site.baseurl }}"></script>

<!-- Isotope -->
<script type="text/javascript" src="{{ "/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/vendor/isotope-packery/packery-mode.pkgd.min.js" | prepend: site.baseurl }}"></script>

<!-- Jarallax -->
<script type="text/javascript" src="{{ "/assets/vendor/jarallax/dist/jarallax.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/vendor/jarallax/dist/jarallax-video.min.js" | prepend: site.baseurl }}"></script>

<!-- Fancybox -->
<script type="text/javascript" src="{{ "/assets/vendor/fancybox/dist/jquery.fancybox.min.js" | prepend: site.baseurl }}"></script>

<!-- Themebau -->
<script type="text/javascript" src="{{ "/assets/js/themebau.min.js" | prepend: site.baseurl }}"></script>