/* Layout */
/* @import "variables"; */


/*
--------------------------------------------------------------------------------
Colours
--------------------------------------------------------------------------------
*/

$lavender1: #bfb1c4;
$lavender2: #8A7C8E;
$lavender3: #a692ad;
$lavender4: #4D4351;
$lavender5: #433848;

/*
--------------------------------------------------------------------------------
Typography
--------------------------------------------------------------------------------
*/

/* Link styling */
p {
    margin-bottom: 1em!important;

    a {
        text-decoration: underline solid #8A7C8E;
        -webkit-text-decoration: underline solid #8A7C8E;

        &:hover {

            color: #654F69;
            text-decoration: underline solid #8A7C8E;
            -webkit-text-decoration: underline solid #8A7C8E;
        }
    }
}


/*
--------------------------------------------------------------------------------
Home page
--------------------------------------------------------------------------------
*/

a.navbar-brand {
    h5 {
        margin-bottom: 0;
    }
}

div.card-wrap {

    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 4;
    position: relative;

    .card-header {
        padding:2.5 rem;
    }

    .card-footer {
        padding:2.5 rem;

        h3 { 
            margin: 0;
        }
    }
}

figure.img-background {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    opacity: 0.4;
    background: #000;
}

/*
--------------------------------------------------------------------------------
Post lists
--------------------------------------------------------------------------------
*/

.isotope-grid {

    .isotope-item {

        .card-blog {

            p { margin-bottom: 0;}

        }
    }
}